{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<div class="container-fluid bg-light text-center rounded p-4 shado">
    <div><h3>NLP Based Question- Ask your finance questions now!</h3></div>
    <div class="d-flex justify-content-xl-center container-fluid flex-sm-column flex-xl-row flex-lg-row flex-md-row flex-column">
        <div>{{_answer}}</div>
    </div>
    Powered by OpenAI
    </div>
<br>
<div class="container-fluid">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-8">
            <div class="bg-light text-center rounded p-4 shadow">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Market Feed</h6>
                    <div>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>This Month</option>
                            <option value="1">Last Month</option>
                        </select>
                    </div>
                </div>
                <!-- <canvas id="worldwide-sales"></canvas> -->
                <img src="static/img/feed.png" alt="Market Feed" class="container-fluid">
            </div>
        </div>
        <div class="col-sm-12 col-xl-4">
            <div class="bg-light text-center rounded p-4 shadow h-100">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Top Performing Assets</h6>
                    <div>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>This Month</option>
                            <option value="1">Last Month</option>
                        </select>
                    </div>
                </div>
                <div class="w-100 d-flex justify-content-center">
                    <div id="container" style="height: 370px; width: 450px;">
                        <div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-start">Symbol</th>
                                        <th class="text-end">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for stock in assets %}
                                        <tr>
                                            <td class="text-start">{{stock.symbol}}</td>
                                            <td class="text-end">{{stock.price | usd}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <img src="static/img/AAPL.png" alt="Average performance of top performing assets" class="container-fluid">
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
